<p>A simple web service for Pico W</p>
<div class="led_box">
    <button class="redled" value="on" name="redled">Red ON</button>
    <button class="redled" value="off" name="redled">Red OFF</button>
    <button class="ledblink" value="blink" name="led">Green Blink</button>
</div>
<p>Temperature reading: <span id="temp"></span></p>
<p>Potentiometer reading: <span id="pot"></span></p>
<p><span class="circle switch"></span></p>
<p><span class="circle led"></span></p>